{%extends 'users/main.html'%}
{%block content%}
<div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-sm-12">
            <div class="card p-4 shadow mx-auto">
                <div class="card-header bg-white">
                    <h2 class="text-center text-primary">Change Your Password</h2>
                </div>
                <div class="card-body ">
                    <form method="POST">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button class="btn btn-primary w-100" type="Submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}